@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf); }
@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto/Roboto-Medium.ttf); }
@font-face {
  font-family: Roboto-Black;
  src: url(../fonts/Roboto/Roboto-Black.ttf); }
@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto/Roboto-Light.ttf); }
@font-face {
  font-family: DinPro;
  src: url(../fonts/DIN-Pro.otf); }
@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather/Merriweather-Regular.ttf); }
body {
  background: #ffffff no-repeat center center fixed;
  height: 100%;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0; }

body:before {
  display: none;
  position: fixed;
  background: #ffffff;
  z-index: 999;
  color: red; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

.wrapper {
  display: block;
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden; }
  .wrapper #mobile-menu {
    display: none; }
  .wrapper .header {
    display: block;
    position: relative;
    width: 100%;
    background: #ffffff url("../images/bmw-background-top.png") no-repeat scroll;
    background-position: top center;
    height: auto;
    min-height: 945px; }
    .wrapper .header nav {
      display: inline-block;
      position: relative;
      width: 100%;
      height: auto;
      z-index: 999;
      top: 55px; }
      .wrapper .header nav ul.main-menu {
        margin: 0;
        padding: 0;
        display: block;
        width: auto; }
        .wrapper .header nav ul.main-menu li {
          display: inline-block;
          list-style-type: none;
          width: auto;
          padding: 5px 0;
          margin: 0 20px;
          opacity: 0.5;
          border-bottom: 2px solid transparent; }
          .wrapper .header nav ul.main-menu li a {
            display: block;
            font-family: Roboto-Bold;
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
            text-align: center;
            width: auto;
            vertical-align: middle; }
        .wrapper .header nav ul.main-menu li.active, .wrapper .header nav ul.main-menu li:hover {
          cursor: pointer;
          opacity: 1;
          border-bottom: 2px solid #e43b40;
          -webkit-transition: all ease 0.8s;
          -moz-transition: all ease 0.8s;
          -ms-transition: all ease 0.8s;
          -o-transition: all ease 0.8s;
          transition: all ease 0.8s; }
  .wrapper .section-1 {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background: #ffffff; }
    .wrapper .section-1:before {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 230px 0 0 520px;
      border-color: transparent transparent transparent #ffffff;
      top: -229px; }
    .wrapper .section-1:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 220px 952px;
      border-color: transparent transparent #ffffff transparent;
      top: -219px;
      left: 490px; }
    .wrapper .section-1 div.bg-text {
      position: absolute;
      display: block;
      background: url("../images/handmade.png") no-repeat scroll center;
      background-position: 0;
      height: 160px;
      width: 100%;
      top: 180px;
      z-index: 1; }
    .wrapper .section-1 .box {
      display: table;
      position: relative;
      width: auto;
      max-width: 980px;
      box-shadow: 0 0 15px 1px #ceced2;
      background: #ffffff;
      z-index: 3;
      padding: 80px 40px;
      margin: 0 auto; }
      .wrapper .section-1 .box .box-content {
        display: table-cell;
        position: relative;
        vertical-align: top;
        width: auto;
        height: 100%;
        padding: 0 40px;
        text-align: left; }
        .wrapper .section-1 .box .box-content img {
          display: block;
          position: relative;
          width: auto;
          margin-left: 60px;
          margin-bottom: 55px;
          height: 65px; }
        .wrapper .section-1 .box .box-content .box-text:after {
          content: '';
          display: block;
          position: absolute;
          height: 68%;
          width: 1px;
          background: #ceced2;
          bottom: 5px;
          z-index: 2;
          right: 0px; }
        .wrapper .section-1 .box .box-content .box-text h1 {
          margin: 0;
          padding: 0;
          font-family: Roboto-Medium;
          font-weight: normal;
          font-size: 22pt;
          line-height: 27pt; }
        .wrapper .section-1 .box .box-content .box-text h2 {
          font-family: Merriweather;
          font-weight: normal;
          font-size: 12pt;
          line-height: 25pt;
          color: #9a9a9a;
          padding-top: 40px;
          margin: 0; }
        .wrapper .section-1 .box .box-content .box-text.no-border:after {
          background: transparent; }
  .wrapper .section-2 {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background: #f8f8f8; }
    .wrapper .section-2:before {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 230px 0 0 520px;
      border-color: transparent transparent transparent #f8f8f8;
      top: -230px; }
    .wrapper .section-2:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 220px 950px;
      border-color: transparent transparent #f8f8f8 transparent;
      top: -220px;
      left: 490px; }
  .wrapper .section-3 {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background: transparent;
    padding-top: 100px; }
    .wrapper .section-3:before {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 240px 0 0 542px;
      border-color: #ffffff transparent transparent transparent;
      bottom: -239px;
      z-index: 998;
      left: -105px; }
    .wrapper .section-3:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 240px 950px;
      border-color: transparent transparent transparent #ffffff;
      bottom: -239px;
      left: 435px;
      z-index: 998; }
    .wrapper .section-3 .new-comment {
      display: table;
      position: relative;
      width: auto;
      height: auto;
      padding: 20px 100px;
      box-shadow: 0 0 15px 1px #e7e7e7;
      margin: -20px 100px 60px 100px;
      text-align: left;
      min-width: 800px;
      z-index: 9; }
      .wrapper .section-3 .new-comment .user-avatar {
        display: table-cell;
        position: relative;
        overflow: hidden;
        height: 60px;
        width: 60px;
        padding-right: 20px; }
        .wrapper .section-3 .new-comment .user-avatar img {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          border-radius: 30px; }
      .wrapper .section-3 .new-comment input.comment-input {
        display: table-cell;
        border: 0;
        border-bottom: 1px solid #e7e7e7;
        width: 100%;
        background: #ffffff;
        height: 100%;
        vertical-align: text-bottom;
        font-family: Merriweather;
        font-size: 15px;
        line-height: 29px;
        color: #9a9a9a;
        letter-spacing: 0.5px; }
      .wrapper .section-3 .new-comment button.send {
        content: '';
        display: block;
        position: absolute;
        width: 30px;
        height: 35px;
        top: 30px;
        right: 100px;
        z-index: 998;
        cursor: pointer;
        border: 0;
        -webkit-appearance: none;
        background: url(../icons/ico-send-button.png) center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 0; }
        .wrapper .section-3 .new-comment button.send:hover {
          background: url(../icons/ico-send-button-hover.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 0 0; }
    .wrapper .section-3 .comments {
      display: block;
      position: relative;
      width: 800px;
      height: auto;
      margin: 0 auto;
      padding: 0 80px; }
      .wrapper .section-3 .comments h2 {
        font-family: Roboto-Light;
        font-size: 26px;
        line-height: 29px;
        text-align: left;
        font-weight: normal;
        margin: 0;
        padding: 20px 0; }
      .wrapper .section-3 .comments .comment {
        display: block;
        position: relative;
        height: auto;
        box-shadow: 0 0 15px 1px #e7e7e7;
        margin: 20px 0;
        padding: 40px;
        text-align: left;
        max-width: 800px; }
        .wrapper .section-3 .comments .comment.reply {
          border-left: 4px solid #e43b40;
          margin-left: 80px; }
        .wrapper .section-3 .comments .comment a.reply {
          display: block;
          position: absolute;
          height: 20px;
          width: 20px;
          right: 40px;
          background: transparent url("../icons/ico-reply-arrow.png") center scroll;
          background-size: 100% 100%; }
          .wrapper .section-3 .comments .comment a.reply:hover {
            background: transparent url("../icons/ico-reply-arrow-hover.png") center scroll;
            background-size: 100% 100%; }
        .wrapper .section-3 .comments .comment .comment-info .user-avatar {
          display: inline-block;
          position: relative;
          overflow: hidden;
          height: 60px;
          width: 60px;
          margin-right: 20px; }
          .wrapper .section-3 .comments .comment .comment-info .user-avatar img {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 30px; }
        .wrapper .section-3 .comments .comment .comment-info h3.user-name {
          display: inline-block;
          font-family: Roboto-Medium;
          font-size: 16px;
          line-height: 29px;
          font-weight: normal;
          vertical-align: top;
          color: #404040;
          margin: 0;
          padding: 10px 0; }
        .wrapper .section-3 .comments .comment .comment-info p.cmt-day {
          position: absolute;
          display: inline-block;
          font-family: Roboto;
          font-size: 12px;
          line-height: 29px;
          color: #9a9a9a;
          left: 125px;
          top: 70px; }
        .wrapper .section-3 .comments .comment .comment-text {
          display: block;
          font-family: Merriweather;
          font-size: 16px;
          line-height: 26px;
          color: #9a9a9a;
          margin: 0;
          margin-top: 25px;
          padding-right: 25px; }
  .wrapper .section-4 {
    display: block;
    position: relative;
    width: 100%;
    height: 765px;
    background: url("../images/bmw-background-bottom.png") no-repeat fixed;
    background-position: bottom center; }
  .wrapper .content-wrapper {
    display: table;
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center; }
    .wrapper .content-wrapper .cta {
      display: block;
      position: relative;
      padding-top: 365px; }
      .wrapper .content-wrapper .cta h1 {
        font-family: Roboto-Black;
        font-size: 90px;
        line-height: 65px;
        color: #ffffff;
        margin: 0; }
      .wrapper .content-wrapper .cta p {
        font-family: Merriweather;
        color: #ffffff;
        font-size: 23px;
        margin: 20px 0; }
      .wrapper .content-wrapper .cta .btn {
        margin: 40px auto; }
    .wrapper .content-wrapper div.label {
      position: relative;
      display: block;
      padding: 80px 0 80px 100px;
      z-index: 2; }
      .wrapper .content-wrapper div.label span {
        font-family: Roboto-Bold;
        text-transform: uppercase;
        display: block;
        z-index: 2;
        text-align: left; }
      .wrapper .content-wrapper div.label span.label-number {
        font-size: 22pt;
        line-height: 18pt;
        color: #ceced2; }
      .wrapper .content-wrapper div.label span.label-name {
        font-size: 22pt;
        line-height: 22pt;
        color: #151416;
        padding-top: 7px; }
      .wrapper .content-wrapper div.label div.line {
        display: block;
        position: relative;
        height: 85px;
        width: 100%;
        margin-top: 15px;
        border-left: 3px solid #e43b40; }
    .wrapper .content-wrapper .btn {
      display: inline-block;
      position: relative;
      background: #e43b40;
      font-family: Roboto-Bold;
      font-size: 16pt;
      line-height: 16pt;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      padding: 25px 15px;
      padding-right: 65px;
      margin: 70px auto;
      overflow: hidden;
      box-shadow: inset 0 0 0 0 #fc5b62;
      -webkit-transition: all ease 0.8s;
      -moz-transition: all ease 0.8s;
      -ms-transition: all ease 0.8s;
      -o-transition: all ease 0.8s;
      transition: all ease 0.8s; }
      .wrapper .content-wrapper .btn:hover {
        cursor: pointer;
        box-shadow: inset 400px 0 0 0 #fc5b62; }
      .wrapper .content-wrapper .btn:after {
        content: url("../icons/ico-arrow.png");
        display: inline-block;
        position: absolute;
        width: 15px;
        right: 15px;
        top: 25px; }
    .wrapper .content-wrapper .bullets {
      display: table;
      position: relative;
      width: auto;
      max-width: 1000px;
      height: auto;
      margin: 0 auto;
      margin-top: -40px; }
      .wrapper .content-wrapper .bullets .bullet {
        display: table-cell;
        position: relative;
        width: auto;
        max-width: 300px;
        border-right: 1px solid #e7e7e7;
        padding: 50px 80px 15px 50px; }
        .wrapper .content-wrapper .bullets .bullet span {
          display: inline-block;
          position: absolute;
          font-family: Roboto-Bold;
          font-size: 122px;
          color: #e3e3e3;
          z-index: 1;
          left: 70px;
          top: -5px;
          line-height: 122px; }
        .wrapper .content-wrapper .bullets .bullet h1 {
          position: relative;
          vertical-align: bottom;
          font-family: Roboto-Medium;
          font-size: 26px;
          line-height: 34px;
          color: #404040;
          text-align: left;
          margin: 0;
          z-index: 2; }
        .wrapper .content-wrapper .bullets .bullet:last-child {
          border: 0; }
    .wrapper .content-wrapper .visual {
      display: block;
      position: relative;
      width: auto;
      height: 340px;
      background: url("../images/bmw-visual.png") no-repeat scroll center;
      margin: 0 auto;
      top: 120px;
      margin-top: -120px;
      left: -50%;
      -webkit-transition: left ease 2s;
      -moz-transition: left ease 0.2s;
      -ms-transition: left ease 2s;
      -o-transition: left ease 2s;
      transition: left ease 2s; }
  .wrapper .footer {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background: #151416;
    bottom: 0;
    padding: 35px 0; }
    .wrapper .footer p {
      display: inline-block;
      font-family: Roboto-Bold;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 30px;
      margin: 0 10px;
      vertical-align: top; }
    .wrapper .footer a.ico-facebook {
      background: url("../icons/ico-facebook.svg") no-repeat center;
      background-size: 28px 28px;
      margin-right: 10px; }
    .wrapper .footer a.ico-twitter {
      background: url("../icons/ico-twitter.svg") no-repeat center;
      background-size: 28px 28px; }
    .wrapper .footer a.ico-facebook, .wrapper .footer a.ico-twitter {
      display: inline-block;
      position: relative;
      text-indent: -9999px;
      width: 28px;
      height: 28px; }
      .wrapper .footer a.ico-facebook:hover, .wrapper .footer a.ico-twitter:hover {
        cursor: pointer; }

body.scrolled .wrapper .header {
  background: #ffffff url("../images/bmw-background-top.png") no-repeat fixed;
  background-position: top center;
  background-position-y: -300px; }

@media only screen and (max-width: 320px) {
  body:before {
    content: "We're in the 320px"; }

  .wrapper #mobile-menu a#toggle-menu ul.mobile-menu {
    top: 220px; }
  .wrapper .box {
    max-width: 100%;
    margin: 0 10px; }
    .wrapper .box .box-content {
      display: table-row;
      padding: 0 40px;
      text-align: center; }
      .wrapper .box .box-content img {
        margin: 0 auto;
        margin-bottom: 55px; }
  .wrapper div.label {
    position: relative;
    display: block;
    padding: 20px 0 210px 20px;
    z-index: 2; }
  .wrapper .section-1 div.bg-text {
    background: url("../images/handmade-mobile.png") no-repeat scroll center;
    height: 400px;
    top: 180px;
    width: 100%;
    background-size: auto 230px !Important;
    background-position: 20px 0 !important; }
  .wrapper .visual {
    display: none !important; } }
@media only screen and (min-width: 320px) and (max-width: 620px) {
  body:before {
    content: "We're in the max 620px"; }

  .main-menu {
    display: none !important; }

  .wrapper .header {
    min-height: 700px; }
  .wrapper .section-1 {
    padding-top: 25px;
    padding-bottom: 35px; }
    .wrapper .section-1:before {
      left: -430px; }
    .wrapper .section-1:after {
      left: 80px; }
  .wrapper .footer {
    background: #333333;
    margin-top: -1px;
    box-shadow: inset 0 0 40px 1px black;
    width: 120%;
    left: -10%; }
  .wrapper #mobile-menu {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    min-width: 100%;
    height: 70px;
    background: transparent;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -ms-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
    transition: all ease 0.8s; }
    .wrapper #mobile-menu ul.mobile-menu {
      display: none; }
    .wrapper #mobile-menu a#toggle-menu {
      display: inline-block;
      position: absolute;
      text-indent: -9999px;
      top: 25px;
      right: 25px;
      width: 28px;
      height: 20px;
      background: transparent url("../icons/ico-menu-white.svg") no-repeat center;
      background-size: 30px 30px; }
      .wrapper #mobile-menu a#toggle-menu:hover {
        cursor: pointer; }
    .wrapper #mobile-menu.scroll {
      background: #f2f2f2;
      -webkit-transition: all ease 0.8s;
      -moz-transition: all ease 0.8s;
      -ms-transition: all ease 0.8s;
      -o-transition: all ease 0.8s;
      transition: all ease 0.8s; }
      .wrapper #mobile-menu.scroll a#toggle-menu {
        background: url("../icons/ico-menu-black.svg") no-repeat center;
        background-size: 30px 30px; }
    .wrapper #mobile-menu.open {
      background: #ffffff;
      min-height: 100%;
      height: 100%; }
      .wrapper #mobile-menu.open a#toggle-menu {
        background: url("../icons/ico-close-button.svg") no-repeat;
        background-size: contain;
        right: 15px; }
      .wrapper #mobile-menu.open ul.mobile-menu {
        display: block;
        top: 250px;
        position: relative;
        padding: 0;
        margin: 0; }
        .wrapper #mobile-menu.open ul.mobile-menu li {
          list-style: none;
          text-align: center;
          padding-bottom: 50px; }
          .wrapper #mobile-menu.open ul.mobile-menu li a {
            font-family: Roboto-Bold;
            font-size: 14pt;
            letter-spacing: -1px;
            color: #3d3d3d;
            text-decoration: none;
            text-transform: uppercase; }
  .wrapper .content-wrapper .btn {
    font-size: 15pt; }
  .wrapper .content-wrapper .box {
    max-width: 100%;
    margin: 0 10px; }
    .wrapper .content-wrapper .box .box-content {
      display: table-row;
      padding: 0 40px;
      text-align: center; }
      .wrapper .content-wrapper .box .box-content img {
        margin: 50px auto 55px auto; }
      .wrapper .content-wrapper .box .box-content .box-text h2 {
        margin-bottom: 70px; }
      .wrapper .content-wrapper .box .box-content .box-text:after {
        width: 80%;
        height: 1px;
        bottom: auto;
        right: auto; }
  .wrapper .content-wrapper div.label {
    position: relative;
    display: block;
    padding: 20px 0 250px 20px;
    z-index: 2; }
    .wrapper .content-wrapper div.label span.label-number {
      font-size: 15pt;
      line-height: 18pt; }
    .wrapper .content-wrapper div.label span.label-name {
      font-size: 15pt;
      line-height: 18pt; }
    .wrapper .content-wrapper div.label div.line {
      height: 40px;
      margin-top: 15px; }
  .wrapper .content-wrapper .cta {
    padding-top: 0; }
    .wrapper .content-wrapper .cta h1 {
      line-height: 90px;
      display: inline-block;
      padding: 100px 10% 0 10%; }
    .wrapper .content-wrapper .cta p {
      padding: 0 20%; }
  .wrapper .content-wrapper .bullets {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: -200px;
    margin-bottom: -100px; }
    .wrapper .content-wrapper .bullets .bullet {
      display: inline-block;
      max-width: 100%;
      width: auto;
      border-right: 0;
      padding: 50px; }
      .wrapper .content-wrapper .bullets .bullet span {
        left: 40%; }
      .wrapper .content-wrapper .bullets .bullet h1 {
        text-align: center;
        padding-bottom: 50px; }
      .wrapper .content-wrapper .bullets .bullet:after {
        content: '';
        position: relative;
        display: inline-block;
        width: 50%;
        border-bottom: 1px solid #ceced2; }
      .wrapper .content-wrapper .bullets .bullet:last-child:after {
        display: none; }
  .wrapper .section-1 .box {
    padding: 30px 40px; }
  .wrapper .section-1 div.bg-text {
    background: url("../images/handmade-mobile.png") no-repeat scroll center;
    height: 400px;
    top: 180px;
    width: 100%;
    background-size: auto 230px !Important;
    background-position: 20px 0 !important; }
  .wrapper .section-3 {
    padding-top: 30px; }
    .wrapper .section-3 .new-comment {
      min-width: 0;
      margin: 0 10px;
      margin-top: -200px;
      margin-bottom: 50px;
      padding: 20px;
      display: block; }
      .wrapper .section-3 .new-comment .user-avatar {
        display: block;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 40px; }
      .wrapper .section-3 .new-comment input.comment-input {
        display: block;
        padding-bottom: 20px; }
      .wrapper .section-3 .new-comment button.send {
        display: block;
        position: relative;
        margin: 0 auto;
        margin-top: 20px;
        top: 0;
        left: 0; }
    .wrapper .section-3 .comments {
      width: auto;
      height: auto;
      margin: 0 auto;
      padding: 0 10px;
      margin-bottom: 70px; }
      .wrapper .section-3 .comments h2 {
        text-align: center;
        padding: 10px 0; }
      .wrapper .section-3 .comments .comment {
        max-width: none;
        width: auto; }
        .wrapper .section-3 .comments .comment .comment-text {
          padding-right: 0; }
        .wrapper .section-3 .comments .comment a.reply {
          top: 25px;
          right: 25px; }
        .wrapper .section-3 .comments .comment.reply {
          margin-left: 0;
          max-width: 271px; }
    .wrapper .section-3:before {
      border-width: 60px 0 0 200px;
      bottom: -55px;
      left: -87px; }
    .wrapper .section-3:after {
      border-width: 0 0 60px 250px;
      bottom: -55px;
      left: 112px; }
  .wrapper .section-4 {
    height: auto;
    padding: 100px 0; }
    .wrapper .section-4 .cta p {
      margin-bottom: 60px; }

  .visual {
    display: none !important; } }
@media only screen and (min-width: 621px) and (max-width: 960px) {
  body:before {
    content: "We're in the max 960px"; }

  .wrapper .section-2 {
    padding-top: 50px; }
  .wrapper .section-3 {
    padding-top: 50px; }
    .wrapper .section-3 .new-comment {
      width: 100%;
      margin: -100px auto 60px auto;
      min-width: 0;
      max-width: 620px;
      padding: 20px 50px; }
      .wrapper .section-3 .new-comment button.send {
        right: 45px; }
    .wrapper .section-3 .comments {
      width: auto; }
    .wrapper .section-3:before {
      left: -373px; }
    .wrapper .section-3:after {
      left: 168px; }
  .wrapper .content-wrapper .box {
    max-width: 100%;
    margin: 0 10px; }
    .wrapper .content-wrapper .box .box-content {
      display: table-row;
      padding: 0 40px;
      text-align: center; }
      .wrapper .content-wrapper .box .box-content img {
        margin: 50px auto 55px auto; }
      .wrapper .content-wrapper .box .box-content .box-text h2 {
        margin-bottom: 70px; }
      .wrapper .content-wrapper .box .box-content .box-text:after {
        width: 80%;
        height: 1px;
        bottom: auto;
        right: auto; }
  .wrapper .content-wrapper div.label {
    position: relative;
    display: block;
    padding: 20px 0 160px 20px;
    z-index: 2; }
  .wrapper .content-wrapper .cta {
    padding-top: 300px;
    width: 70%;
    margin: 0 auto; }
    .wrapper .content-wrapper .cta h1 {
      line-height: 90px; }
  .wrapper .content-wrapper .bullets {
    margin-top: -100px; }
    .wrapper .content-wrapper .bullets .bullet {
      padding: 50px 30px 15px 50px; }

  .visual {
    display: none !important; } }
@media only screen and (min-width: 961px) and (max-width: 1280px) {
  body:before {
    content: "We're in the 1280px"; }

  .wrapper .visual {
    background-position: -40px 0; }
  .wrapper .section-1 div.bg-text {
    height: 190px;
    width: 100%;
    background-size: 100%; }
  .wrapper .section-3 .new-comment {
    width: 100%;
    padding: 20px 100px;
    box-shadow: 0 0 15px 1px #e7e7e7;
    margin: -20px auto 60px auto;
    min-width: 0;
    max-width: 600px; }
  .wrapper .section-3:before {
    left: -246px !important; }
  .wrapper .section-3:after {
    left: 295px  !important; } }
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  body:before {
    content: "We're in the 1440px"; } }

/*# sourceMappingURL=style.css.map */
