$color-white: #ffffff;
$color-lightest: #e7e7e7;
$color-lighter: #f8f8f8;
$color-light: #f2f2f2;
$color-silver: #ceced2;
$color-dark-silver: #9a9a9a;
$color-dark-lighter: #404040;
$color-dark: #151416;
$color-red: #e43b40;
$color-red-hover: #fc5b62;

@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-Black;
  src: url(../fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: DinPro;
  src: url(../fonts/DIN-Pro.otf);
}
@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
}

body {
  background: $color-white no-repeat center center fixed;
  height: 100%;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
body:before {
  display: none;
  position: fixed;
  background: $color-white;
  z-index: 999;
  color: red;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.wrapper {
  display: block;
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;

  #mobile-menu {
    display: none;
  }

  .header {
    display: block;
    position: relative;
    width: 100%;
    background: $color-white url("../images/bmw-background-top.png") no-repeat scroll;
    background-position: top center;
    height:auto;
    min-height: 945px;

    nav {
      display: inline-block;
      position: relative;
      width: 100%;
      height: auto;
      z-index: 999;
      top: 55px;

      ul.main-menu {
        margin: 0;
        padding: 0;
        display: block;
        width: auto;

        li {
          display: inline-block;
          list-style-type: none;
          width: auto;
          padding: 5px 0;
          margin: 0 20px;
          opacity: 0.5;
          border-bottom: 2px solid transparent;

          a {
            display: block;
            font-family: Roboto-Bold;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
            text-align: center;
            width: auto;
            vertical-align: middle;
          }
        }
        li.active, li:hover {
          cursor: pointer;
          opacity: 1;
          border-bottom: 2px solid $color-red;
          -webkit-transition: all ease 0.8s;
          -moz-transition: all ease 0.8s;
          -ms-transition: all ease 0.8s;
          -o-transition: all ease 0.8s;
          transition: all ease 0.8s;
        }
      }
    }
  }
  .section-1 {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background: $color-white;

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 230px 0 0 520px;
      border-color: transparent transparent transparent $color-white;
      top: -229px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 220px 952px;
      border-color: transparent transparent $color-white transparent;
      top: -219px;
      left: 490px;
    }

    div.bg-text {
      position: absolute;
      display: block;
      background: url('../images/handmade.png') no-repeat scroll center;
      background-position: 0;
      height: 160px;
      width: 100%;
      top: 180px;
      z-index: 1;
    }
    .box {
      display: table;
      position: relative;
      width: auto;
      max-width: 980px;
      box-shadow: 0 0 15px 1px $color-silver;
      background: $color-white;
      z-index: 3;
      padding: 80px 40px;
      margin: 0 auto;

      .box-content {
        display: table-cell;
        position: relative;
        vertical-align: top;
        width: auto;
        height: 100%;
        padding: 0 40px;
        text-align: left;

        img {
          display: block;
          position: relative;
          width: auto;
          margin-left: 60px;
          margin-bottom: 55px;
          height: 65px;
        }

        .box-text {
          &:after {
            content: '';
            display: block;
            position: absolute;
            height: 68%;
            width: 1px;
            background: #ceced2;
            bottom: 5px;
            z-index: 2;
            right: 0px;
          }
          h1 {
            margin: 0;
            padding: 0;
            font-family: Roboto-Medium;
            font-weight: normal;
            font-size: 22pt;
            line-height: 27pt;
          }
          h2 {
            font-family: Merriweather;
            font-weight: normal;
            font-size: 12pt;
            line-height: 25pt;
            color: $color-dark-silver;
            padding-top: 40px;
            margin: 0;
          }
          &.no-border {
            &:after {
              background: transparent;
            }
          }
        }
      }
    }
  }
  .section-2 {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background: $color-lighter;

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 230px 0 0 520px;
      border-color: transparent transparent transparent $color-lighter;
      top: -230px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 220px 950px;
      border-color: transparent transparent $color-lighter transparent;
      top: -220px;
      left: 490px;
    }
  }
  .section-3 {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background: transparent;
    padding-top: 100px;

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 240px 0 0 542px;
      border-color: $color-white transparent transparent transparent;
      bottom: -239px;
      z-index: 998;
      left: -105px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 240px 950px;
      border-color: transparent transparent transparent $color-white;
      bottom: -239px;
      left: 435px;
      z-index: 998;
    }
    .new-comment {
      display: table;
      position: relative;
      width: auto;
      height: auto;
      padding: 20px 100px;
      box-shadow: 0 0 15px 1px $color-lightest;
      margin: -20px 100px 60px 100px;
      text-align: left;
      min-width: 800px;
      z-index: 9;

      .user-avatar {
        display: table-cell;
        position: relative;
        overflow: hidden;
        height: 60px;
        width: 60px;
        padding-right: 20px;

        img {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          border-radius: 30px;
        }
      }
      input.comment-input {
        display: table-cell;
        border: 0;
        border-bottom: 1px solid $color-lightest;
        width: 100%;
        background: $color-white;
        height: 100%;
        vertical-align: text-bottom;

        font-family: Merriweather;
        font-size: 15px;
        line-height: 29px;
        color: #9a9a9a;
        letter-spacing: 0.5px;
      }

      button.send {
        content: '';
        display: block;
        position: absolute;
        width: 30px;
        height: 35px;
        top: 30px;
        right: 100px;
        z-index: 998;
        cursor: pointer;
        border: 0;
        -webkit-appearance: none;
        background: url(../icons/ico-send-button.png) center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 0;

        &:hover {
          background: url(../icons/ico-send-button-hover.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 0 0;
        }
      }
    }

    .comments {
      display: block;
      position: relative;
      width: 800px;
      height: auto;
      margin: 0 auto;
      padding: 0 80px;

      h2 {
        font-family: Roboto-Light;
        font-size: 26px;
        line-height: 29px;
        text-align: left;
        font-weight: normal;
        margin: 0;
        padding: 20px 0;
      }

      .comment {
        display: block;
        position: relative;
        height: auto;
        box-shadow: 0 0 15px 1px $color-lightest;
        margin: 20px 0;
        padding: 40px;
        text-align: left;
        max-width: 800px;

        &.reply {
          border-left: 4px solid $color-red;
          margin-left: 80px;
        }

        a.reply {
          display: block;
          position: absolute;
          height: 20px;
          width: 20px;
          right: 40px;
          background: transparent url('../icons/ico-reply-arrow.png') center scroll;
          background-size: 100% 100%;

          &:hover {
            background: transparent url('../icons/ico-reply-arrow-hover.png') center scroll;
            background-size: 100% 100%;
          }
        }

        .comment-info {
          .user-avatar {
            display: inline-block;
            position: relative;
            overflow: hidden;
            height: 60px;
            width: 60px;
            margin-right: 20px;

              img {
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 30px;

              }
          }
          h3.user-name {
            display: inline-block;
            font-family: Roboto-Medium;
            font-size: 16px;
            line-height: 29px;
            font-weight: normal;
            vertical-align: top;
            color: $color-dark-lighter;
            margin: 0;
            padding: 10px 0;
          }
          p.cmt-day {
            position: absolute;
            display: inline-block;
            font-family: Roboto;
            font-size: 12px;
            line-height: 29px;
            color: $color-dark-silver;
            left: 125px;
            top: 70px;
          }
        }
        .comment-text {
          display: block;
          font-family: Merriweather;
          font-size: 16px;
          line-height: 26px;
          color: $color-dark-silver;
          margin: 0;
          margin-top: 25px;
          padding-right: 25px;
        }
      }
    }
  }
  .section-4 {
    display: block;
    position: relative;
    width: 100%;
    height: 765px;
    background: url('../images/bmw-background-bottom.png') no-repeat fixed;
    background-position: bottom center;
  }
  .content-wrapper {
    display: table;
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    .cta {
      display: block;
      position: relative;
      padding-top: 365px;

      h1 {
        font-family: Roboto-Black;
        font-size: 90px;
        line-height: 65px;
        color: $color-white;
        margin: 0;
      }
      p {
        font-family: Merriweather;
        color: $color-white;
        font-size: 23px;
        margin: 20px 0;
      }
      .btn {
        margin: 40px auto;
      }
    }

    div.label {
      position: relative;
      display: block;
      padding: 80px 0 80px 100px;
      z-index: 2;

      span {
        font-family: Roboto-Bold;
        text-transform: uppercase;
        display: block;
        z-index: 2;
        text-align: left;
      }
      span.label-number {
        font-size: 22pt;
        line-height: 18pt;
        color: $color-silver;
      }
      span.label-name {
        font-size: 22pt;
        line-height: 22pt;
        color: $color-dark;
        padding-top: 7px;
      }
      div.line {
        display: block;
        position: relative;
        height: 85px;
        width: 100%;
        margin-top: 15px;
        border-left: 3px solid $color-red;
      }
    }
    .btn {
      display: inline-block;
      position: relative;
      background: $color-red;
      font-family: Roboto-Bold;
      font-size: 16pt;
      line-height: 16pt;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 25px 15px;
      padding-right: 65px;
      margin: 70px auto;
      overflow: hidden;
      box-shadow: inset 0 0 0 0 $color-red-hover;
      -webkit-transition: all ease 0.8s;
      -moz-transition: all ease 0.8s;
      -ms-transition: all ease 0.8s;
      -o-transition: all ease 0.8s;
      transition: all ease 0.8s;

      &:hover {
        cursor: pointer;
        box-shadow: inset 400px 0 0 0 $color-red-hover;
      }
      &:after {
        content: url('../icons/ico-arrow.png');
        display: inline-block;
        position: absolute;
        width: 15px;
        right: 15px;
        top: 25px;
      }
    }
    .bullets {
      display: table;
      position: relative;
      width: auto;
      max-width: 1000px;
      height: auto;
      margin: 0 auto;
      margin-top: -40px;


      .bullet {
        display: table-cell;
        position: relative;
        width: auto;
        max-width: 300px;
        border-right: 1px solid $color-lightest;
        padding: 50px 80px 15px 50px;


        span {
          display: inline-block;
          position: absolute;
          font-family: Roboto-Bold;
          font-size: 122px;
          color: #e3e3e3; //* todo *//
          z-index: 1;
          left: 70px;
          top: -5px;
          line-height: 122px;
        }
        h1 {
          position: relative;
          vertical-align: bottom;
          font-family: Roboto-Medium;
          font-size: 26px;
          line-height: 34px;
          color: $color-dark-lighter;
          text-align: left;
          margin: 0;
          z-index: 2;
        }

        &:last-child {
          border: 0;
        }
      }
    }
    .visual {
      display: block;
      position: relative;
      width: auto;
      height: 340px;
      background: url('../images/bmw-visual.png') no-repeat scroll center;
      margin: 0 auto;
      top: 120px;
      margin-top: -120px;
      left: -50%;
      -webkit-transition: left ease 2s;
      -moz-transition: left ease 0.2s;
      -ms-transition: left ease 2s;
      -o-transition: left ease 2s;
      transition: left ease 2s;
    }
  }
  .footer {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background: $color-dark;
    bottom: 0;
    padding: 35px 0;

    p {
      display: inline-block;
      font-family: Roboto-Bold;
      color: $color-white;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 30px;
      margin: 0 10px;
      vertical-align: top;
    }
    a.ico-facebook {
      background: url("../icons/ico-facebook.svg") no-repeat center;
      background-size: 28px 28px;
      margin-right: 10px;
    }
    a.ico-twitter {
      background: url("../icons/ico-twitter.svg") no-repeat center;
      background-size: 28px 28px;
    }
    a.ico-facebook, a.ico-twitter {
      display: inline-block;
      position: relative;
      text-indent: -9999px;
      width: 28px;
      height: 28px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

body.scrolled {
  .wrapper {
    .header {
      background: $color-white url("../images/bmw-background-top.png") no-repeat fixed;
      background-position: top center;
      background-position-y: -300px;
    }
  }
}


@media only screen and (max-width: 320px) {
  body:before {
    content: "We're in the 320px";
  }
  .wrapper {
    #mobile-menu {
      a#toggle-menu {
        ul.mobile-menu {
          top: 220px;
        }
      }
    }
    .box {
      max-width: 100%;
      margin: 0 10px;

      .box-content {
        display: table-row;
        padding: 0 40px;
        text-align: center;

        img {
          margin: 0 auto;
          margin-bottom: 55px;
        }
      }
    }
    div.label {
      position: relative;
      display: block;
      padding: 20px 0 210px 20px;
      z-index: 2;
    }
    .section-1 {
      div.bg-text {
        background: url('../images/handmade-mobile.png') no-repeat scroll center;
        height: 400px;
        top: 180px;
        width: 100%;
        background-size: auto 230px !Important;
        background-position: 20px 0 !important;
      }
    }
    .visual {
      display: none !important;
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 620px) {
  body:before {
    content: "We're in the max 620px";
  }
  .main-menu {
    display: none !important;
  }
  .wrapper {
    .header {
      min-height: 700px;
    }
    .section-1 {
      padding-top: 25px;
      padding-bottom: 35px;

      &:before {
        left: -430px;
      }
      &:after {
        left: 80px;
      }
    }
    .footer {
      background: #333333;
      margin-top: -1px;
      box-shadow: inset 0 0 40px 1px black;
      width: 120%;
      left: -10%;
    }

    #mobile-menu {
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 999;
      min-width: 100%;
      height: 70px;
      background: transparent;
      -webkit-transition: all ease 0.8s;
      -moz-transition: all ease 0.8s;
      -ms-transition: all ease 0.8s;
      -o-transition: all ease 0.8s;
      transition: all ease 0.8s;

      ul.mobile-menu {
        display: none;
      }

      a#toggle-menu {
        display: inline-block;
        position: absolute;
        text-indent: -9999px;
        top: 25px;
        right: 25px;
        width: 28px;
        height: 20px;
        background: transparent url("../icons/ico-menu-white.svg") no-repeat center;
        background-size: 30px 30px;

        &:hover {
          cursor: pointer;
        }
      }

      &.scroll {
        background: $color-light;
        -webkit-transition: all ease 0.8s;
        -moz-transition: all ease 0.8s;
        -ms-transition: all ease 0.8s;
        -o-transition: all ease 0.8s;
        transition: all ease 0.8s;

        a#toggle-menu {
          background: url("../icons/ico-menu-black.svg") no-repeat center;
          background-size: 30px 30px;
        }
      }

      &.open {
        background: $color-white;
        min-height: 100%;
        height: 100%;

        a#toggle-menu {
          background: url("../icons/ico-close-button.svg") no-repeat;
          background-size: contain;
          right: 15px;
        }

        ul.mobile-menu {
          display: block;
          top: 250px;
          position: relative;
          padding: 0;
          margin: 0;

          li {
            list-style: none;
            text-align: center;
            padding-bottom: 50px;

            a {
              font-family: Roboto-Bold;
              font-size: 14pt;
              letter-spacing: -1px;
              color: #3d3d3d;
              text-decoration: none;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .content-wrapper{
      .btn {
        font-size: 15pt;
      }
      .box {
        max-width: 100%;
        margin: 0 10px;

        .box-content {
          display: table-row;
          padding: 0 40px;
          text-align: center;

          img {
            margin: 50px auto 55px auto;
          }
          .box-text {
            h2 {
              margin-bottom: 70px;
            }
            &:after {
              width: 80%;
              height: 1px;
              bottom: auto;
              right: auto;
            }
          }
        }
      }
      div.label {
        position: relative;
        display: block;
        padding: 20px 0 250px 20px;
        z-index: 2;

        span.label-number {
          font-size: 15pt;
          line-height: 18pt;
        }
        span.label-name {
          font-size: 15pt;
          line-height: 18pt;
        }
        div.line {
          height: 40px;
          margin-top: 15px;
        }
      }
      .cta{
        padding-top: 0;

        h1 {
          line-height: 90px;
          display: inline-block;
          padding: 100px 10% 0 10%;
        }
        p {
          padding: 0 20%;
        }
      }
      .bullets {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-top: -200px;
        margin-bottom: -100px;

        .bullet {
          display: inline-block;
          max-width: 100%;
          width: auto;
          border-right: 0;
          padding: 50px;

          span {
            left: 40%;
          }
          h1 {
            text-align: center;
            padding-bottom: 50px;
          }

          &:after {
            content: '';
            position: relative;
            display: inline-block;
            width: 50%;
            border-bottom: 1px solid #ceced2;
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
        }
      }
    }
    .section-1 {
      .box {
        padding: 30px 40px;
      }
      div.bg-text {
        background: url('../images/handmade-mobile.png') no-repeat scroll center;
        height: 400px;
        top: 180px;
        width: 100%;
        background-size: auto 230px !Important;
        background-position: 20px 0 !important;
      }
    }
    .section-3 {
      padding-top: 30px;

      .new-comment {
        min-width: 0;
        margin: 0 10px;
        margin-top: -200px;
        margin-bottom: 50px;
        padding: 20px;
        display: block;

        .user-avatar {
          display: block;
          padding: 0;
          margin: 0 auto;
          margin-bottom: 40px;
        }
        input.comment-input {
          display: block;
          padding-bottom: 20px;
        }
        button.send {
          display: block;
          position: relative;
          margin: 0 auto;
          margin-top: 20px;
          top: 0;
          left: 0;
        }
      }
      .comments {
        width: auto;
        height: auto;
        margin: 0 auto;
        padding: 0 10px;
        margin-bottom: 70px;

        h2 {
          text-align: center;
          padding: 10px 0;
        }

        .comment {
          max-width: none;
          width: auto;

          .comment-text {
            padding-right: 0;
          }

          a.reply {
            top: 25px;
            right: 25px;
          }

          &.reply {
            margin-left: 0;
            max-width: 271px;
          }
        }
      }
      &:before {
        border-width: 60px 0 0 200px;
        bottom: -55px;
        left: -87px;
      }
      &:after {
        border-width: 0 0 60px 250px;
        bottom: -55px;
        left: 112px;
      }
    }
    .section-4 {
      height: auto;
      padding: 100px 0;

      .cta p {
        margin-bottom: 60px;
      }
    }
  }
  .visual {
    display: none !important;
  }
}
@media only screen and (min-width: 621px) and (max-width: 960px) {
  body:before {
    content: "We're in the max 960px";
  }
  .wrapper {

    .section-2 {
      padding-top: 50px;
    }
    .section-3 {
      padding-top: 50px;

      .new-comment {
        width: 100%;
        margin: -100px auto 60px auto;
        min-width: 0;
        max-width: 620px;
        padding: 20px 50px;

        button.send {
          right: 45px;
        }
      }

      .comments {
        width: auto;
      }
      &:before {
        left: -373px;
      }
      &:after {
        left: 168px;
      }
    }

    .content-wrapper{

      .box {
        max-width: 100%;
        margin: 0 10px;

        .box-content {
          display: table-row;
          padding: 0 40px;
          text-align: center;

          img {
            margin: 50px auto 55px auto;

          }
          .box-text {
            h2 {
              margin-bottom: 70px;
            }
            &:after {
              width: 80%;
              height: 1px;
              bottom: auto;
              right: auto;
            }
          }
        }
      }
      div.label {
        position: relative;
        display: block;
        padding: 20px 0 160px 20px;
        z-index: 2;
      }
      .cta {
        padding-top: 300px;
        width: 70%;
        margin: 0 auto;

        h1 {
          line-height: 90px;
        }
      }

       .bullets {
        margin-top: -100px;

         .bullet {
           padding: 50px 30px 15px 50px;

         }
      }
    }
  }
  .visual {
    display: none !important;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1280px) {
  body:before {
    content: "We're in the 1280px";
  }
  .wrapper {
    .visual {
      background-position: -40px 0;
    }
    .section-1 {
      div.bg-text {
        height: 190px;
        width: 100%;
        background-size: 100%;
      }
    }
    .section-3 {

      .new-comment {
        width: 100%;
        padding: 20px 100px;
        box-shadow: 0 0 15px 1px $color-lightest;
        margin: -20px auto 60px auto;
        min-width: 0;
        max-width: 600px;

      }
      &:before {
        left: -246px !important;
      }

      &:after {
        left: 295px  !important;

      }
    }
  }
}
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  body:before {
    content: "We're in the 1440px";
  }
  .wrapper {

  }
}


